<header>
    <nav>
        <ul>
            <li><a href="registry">registry & gifting</a></li>
            <li><a >|</a></li>
            <li><a href="registry">Create a giftlist</a></li>
            <li><a href="registry">Help</a></li>
        </ul>
    </nav>
</header>



    <a  href="registry" class="title">
        Reasons to create a registry or gift list on Amazon
    </a>
    <div class="items">
      <ul>
        <div class="img"> <img src="https://m.media-amazon.com/images/G/01/img18/home/registry/birthday/worldslargest._CB1581720802_.png" width="100px" height="100px"></div>
        <h3>Earth's biggest selection</h3>
        <li><a >Add items from Amazon to create<br>a gift registry for any occasion <br>glad to meet you guys</a></li>
        
      </ul>
      <ul>
        <div class="img"><img src="https://m.media-amazon.com/images/G/01/img18/home/customgiftlist/icon_Share.svg" width="100px" height="100px"></div>
      <h3>Easy to share</h3>
        <li><a>Share your Gift lists with friends<br>and family so they'll know exactly<br>what gifts to get.</a></li>
        
      </ul>
      <ul>
        <div class="img"><img src="https://m.media-amazon.com/images/G/01/img18/home/customgiftlist/icon_Return.svg" width="100px" height="100px"></div>
        <h3>Extended returns</h3>
        <li><a>Gift not quite right? Gift registry<br>purchases have an extended<br>return period.</a></li>
       
      </ul>
      <ul>
        <div class="img"><img src="https://m.media-amazon.com/images/G/01/img18/home/customgiftlist/icon_Thank_you.svg" width="100px" height="100px"> </div>      
        <h3>Thank you list</h3>
        <li><a>We keep track of who bought<br>what gift and when, so it's easy for<br>you to send thank you notes.</a></li>
        
      </ul>
    </div>
  
  <marquee>
    special registration can be done within the site .Thanks for visiting
  </marquee>

  <footer>
    <a  href="#" class="footer-title">
      Back to top
    </a>
    <div class="footer-items">
      <ul>
        <h3>Get to Know Us</h3>
        <li><a href="#">About us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#" >Press Release</a></li>
        <li><a href="#">Amazon Science</a></li>
      </ul>
      <ul>
        <h3>Connect with Us</h3>
        <li><a href="#">Facebook</a></li>
        <li><a href="#" >Twitter</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
      <ul>
        <h3>Make Money with Us</h3>
        <li><a href="#">Sell on Amazon</a></li>
        <li><a href="#">Sell under Amazon Accelerator</a></li>
        <li><a href="#">Protect and Build Your Brand</a></li>
        <li><a href="#">Amazon Global Selling</a></li>
        <li><a href="#">Become an Affiliate</a></li>
        <li><a href="#">Fulfillment by Amazon</a></li>
        <li><a href="#">Advertise Your Products</a></li>
        <li><a href="#">Amazon Pay on Merchants</a></li>
      </ul>
      <ul>
        <h3>Let Us Help You</h3>
        <li><a href="#">COVID-19 and Amazon</a></li>
        <li><a href="#">Your Account</a></li>
        <li><a href="#">Return Centre</a></li>
        <li><a href="#">100% Purchase Protection</a></li>
        <li><a href="#">Amazon App Download</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </footer>
  
  
  


  
  
  