<body >
    <marquee>login/signup here for a better shopping experience</marquee>
<div class="container">
    <!--Formes-->
    <div class="forms">
      <!--Start Row-->
      <div class="row">
        
        <!--Start Login Form-->
        <div class="col-md-6 col-sm-12">
          <div class="form-login">
  
            <span class="desc-form">I have account</span>
            <h2 class="title-form">Log In&#33;</h2>
            <!--Start Form-->
            <form class="login" action="" method = "POST">
              <div class="input-container">
                <input 
                       type="email" name="email" id="emai" 
                       autocomplete="off" placeholder="Email" 
                       required="required" />
                <label for="emai">Email</label>
              </div>
  
              <div class="input-container">
                <input 
                       type="password" name="password" id="pass" 
                       autocomplete="new-password" placeholder="Password" 
                       required="required" />
                <label for="pass">Password</label>
              </div>
  
              <input class="btn btn-block" name="login" type="submit" value="Log in" />
  
              <div class="footer-form">
                <div class="pull-left">
                  <input id="remember" type="checkbox" name="" />
                  <label for="remember">Remember me</label>
                </div>
                <a class="pull-right" href="#">Forget Password&#63;</a>
              </div>
            </form>
            <!--End Form-->
          </div>
        </div>
        <!--End Login Form-->
        
        
        <!--Start Sign Up Form-->
        <div class="col-md-6 col-sm-12">
          <div class="form-signup">
            <span class="desc-form">Not a member</span>
            <h2 class="title-form">Sign up&#33;</h2>
            <!--Start Form-->
            <form class="signup" action="" method = "POST">
  
              <div class="input-container">
                <input 
                       type="text" name="fullname" id="fullname" 
                       autocomplete="off" placeholder="Full Name" 
                       required="required" />
                <label for="fullname">Full Name</label>
              </div>
  
              <div class="input-container">
                <input 
                       type="email" name="email2" id="emai2" 
                       placeholder="Email" />
                <label for="emai2">Email</label>
              </div>
  
              <div class="input-container">
                <input 
                       type="password2" name="new-password" id="pass2" 
                       autocomplete="new-password" placeholder="Password" 
                       required="required" />
                <label for="pass2">Password</label>
              </div>
  
              <input class="btn btn-block" name="signup" type="submit" value="Sign up" />
            </form>
            <!--end Form-->
          </div>
        </div>
        
        
      </div><!--End Row-->
    </div><!--End forms-->
  </div><!--End Container-->
  
  <script>$('[placeholder]').focus(function () {

		$(this).attr('data-text', $(this).attr('placeholder'));
		$(this).attr('placeholder', '');


	}).blur(function () {

		$(this).attr('placeholder', $(this).attr('data-text'));
	});</script>
<footer>
    <a  href="#" class="footer-title">
      Back to top
    </a>
    <div class="footer-items">
      <ul>
        <h3>Get to Know Us</h3>
        <li><a href="#">About us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#" >Press Release</a></li>
        <li><a href="#">Amazon Science</a></li>
      </ul>
      <ul>
        <h3>Connect with Us</h3>
        <li><a href="#">Facebook</a></li>
        <li><a href="#" >Twitter</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
      <ul>
        <h3>Make Money with Us</h3>
        <li><a href="#">Sell on Amazon</a></li>
        <li><a href="#">Sell under Amazon Accelerator</a></li>
        <li><a href="#">Protect and Build Your Brand</a></li>
        <li><a href="#">Amazon Global Selling</a></li>
        <li><a href="#">Become an Affiliate</a></li>
        <li><a href="#">Fulfillment by Amazon</a></li>
        <li><a href="#">Advertise Your Products</a></li>
        <li><a href="#">Amazon Pay on Merchants</a></li>
      </ul>
      <ul>
        <h3>Let Us Help You</h3>
        <li><a href="#">COVID-19 and Amazon</a></li>
        <li><a href="#">Your Account</a></li>
        <li><a href="#">Return Centre</a></li>
        <li><a href="#">100% Purchase Protection</a></li>
        <li><a href="#">Amazon App Download</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </footer>
  
  
  

    </body>
